#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20%;
    padding-top: 80px;
}

#portfolio h1 {
    margin: 20px;
    padding: 20px;
    font-size: 2.5em;
}

#projects {
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
} 

.project {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #E0CBA8;
    border: 10px solid black;
    border-radius: 50px;
    border-color: #41659F;
    transition: border-color 0.5s ease;
}

.projectImg {
    width: 80%;
    height: 200px;
    padding:10px;
    margin:10px;
    margin-top: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.projectImg img {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
}

.projectTxt {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectTxt h3 {
    width: 80%;
}

.project:hover {
    border-color: #7DAADA;
}

@media (max-width: 1000px) {
    #projects {
        flex-direction: column;
        height: auto;
    }

    .project {
        width:90%;
        height: auto;
        margin: 20px;

    }

    .projectImg img {
        width: auto;
        height: 100%;
    }
}